In [10]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [11]:
# Gathering the data, dropping irrelevant, and eliminating empty data and resetting the indices
framingham = pd.read_csv(r"/Users/weihanluo/Desktop/framingham.csv")
framingham.drop(["education"], axis = 1, inplace=True)
framingham.dropna(inplace=True)
framingham.reset_index(drop=True, inplace=True)
framingham

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3744,1,58,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
3745,1,68,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
3746,1,50,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
3747,1,51,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
3748,0,52,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [5]:
# Select our design matrix and output vector
X = framingham.iloc[:,:-1].values
y = framingham.iloc[:,-1].values
X[0].shape

(14,)

In [6]:
#split our data sets into a training set and a test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [7]:
#feature scaling
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
X_train = mms.fit_transform(X_train)
X_test = mms.fit_transform(X_test)
X_test.shape

(750, 14)

In [8]:
#logistic regression model + evaluating the quality of the predictions
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score
model = LogisticRegression(random_state = 1)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

In [9]:
accuracy_score(y_test, y_predict)

0.8306666666666667